@*@{
        ViewBag.Title = "ShowUser";
    }*@

<h2>ShowUser</h2>
<h3>@ViewBag.UserFirstName</h3>
<h3>@ViewBag.UserLastName</h3>
<h3>@ViewBag.UserAge</h3>

@*<h3>@ViewBag.UserFull.firstName</h3>
<h3>@ViewBag.UserFull.lastName</h3>
<h3>@ViewBag.UserFull.age</h3>*@




